{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<div class="article-body">
					{% if post.content %}
					<div class="post-content">
						{{post.content}}
					</div>
					{% endif %}
				</div>
				{% if page_content_sections %}
					{% include 'partial/components-loop.twig' with {
						sections: page_content_sections
					} %}
                {% endif %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
