{% extends "page.twig" %}

{% block hero %}
	{% if thumbnail_markup  %}
		<section class="hero">
			<div class="hero-image-wrapper">
				{{ thumbnail_markup }}
			</div>
		</section>
	{% endif %}
{% endblock %}
