<div class="content-sections">
    {% for section in sections %}
        {% include( "components/#{section.acf_fc_layout}.twig") with {
            'fields' : section,
            'component_key' : component_key
        } %}
    {% endfor %}
</div>
